<div id ="events">
  <h2 id="month">
    <%= link_to "<", date: @date.prev_month %>
    <%= @date.strftime("%B %Y") %>
    <%= link_to ">", date: @date.next_month %>
  </h2>
    <%= calendar @date do |date| %>
    <%= date.day %>    
    <% if @event_instances[date] %>
      <ul>
        <% @event_instances[date].each do |event| %>
          <li><%= link_to event.name, edit_event_path(event.event_id) %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
</div>
